body {
  background-image: url('../images/pattern-background-desktop.svg');
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    font-family:  'Red Hat Display';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:350px;
    border-radius: 15px;
    background-color: white;
}

/* card-header */

.hero {
  width:350px;
  height:165px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}

.intro {
  width: 260px;
  text-align: center;
}

h1 {
  font-size: 22px;
  padding-top: 15px;
  font-weight: 900;
  color:hsl(223, 47%, 23%);
}

p {
  color: hsl(224, 23%, 55%);
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

/* content of subscription */

.subscribe {
  background-color: hsl(225, 100%, 98%);
  width:260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 18px;
  margin: 5px 0;
  border-radius: 15px;
}

.left {
  display: flex;
  align-items:center;
  line-height: 0;
}

.plan {
  position: relative;
  margin-top: 10px;
}

.music-icon {
  width:50px;
  padding-right: 20px;
}

h2 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 14px;
}

.price {
  font-size: 15px;
}

a {
  color:hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 13px;
}

a:hover {
  opacity:0.7;
  text-decoration: none;
  cursor: pointer;
}

/* button */
.pay {
  width:300px;
  padding: 16px 32px;
  background-color: hsl(245, 75%, 52%);
  border-radius: 8px;
  color:white;
  font-weight: 600;
  font-size: 15px;
  border: none;
  margin-top: 20px;
  margin-bottom: 5px;
}
.pay:hover {
  opacity: 0.7;
  cursor: pointer;
}
.cancel {
  width:300px;
  padding: 16px 32px;
  background-color: white;
  border-radius: 8px;
  color:hsl(224, 23%, 55%);
  font-weight: 600;
  font-size: 15px;
  border:none;
  margin-bottom: 15px;
}
.cancel:hover {
  color:hsl(223, 47%, 23%);
  cursor: pointer;
}

@media (max-width:450px) {
  body {
    background-image:  url('../images/pattern-background-mobile.svg');
  }
}
